body {
  background: #0d0d0d;
  color: #00ff9f;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  background: black;
  border: 1px solid #00ff9f;
  color: #00ff9f;
  cursor: pointer;
}
